# Default ignored files
/../../Spam Email Detection /.idea/shelf/
/../../Spam Email Detection /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Spam Email Detection /.idea/httpRequests/
# Datasource local storage ignored files
/../../Spam Email Detection /.idea/dataSources/
/../../Spam Email Detection /.idea/dataSources.local.xml
